
<div id="registerWrapper" class="col-4 offset-4 mb-5 bg-white border border-dark">
    <div class="container mt-5">
        <div class="col-4 offset-4 p-3">
            <h1 class="text-center">Register</h1>
            <div class="mb-3">
                <label class="form-label">USERNAME:</label>
                <input class="form-control" type="text" placeholder="Username">
            </div>
    
            <div class="mb-3">
                <label class="form-label">PASSWORD:</label>
                <input class="form-control" type="password" placeholder="Password">
            </div>
            
            <div class="text-center">
                <button class="rev-btn-confirm mr-1" type="button" routerLink="/register">Register</button>
            </div>
    
        </div>
    </div>
    
</div>