<app-navbar></app-navbar>
<div class="page-title">
    <div class="row justify-content-center">
        <div class="col-3 text-center">
            <h3>Modules</h3>
        </div>
    </div>
</div>

<div class="col-6 offset-3">
    <ngb-accordion id="module-accordion" #acc="ngbAccordion" [closeOthers]="true" activeIds="ngb-panel-0">
        <ngb-panel *ngFor="let module of modules" title="{{module.name}}">
            <ng-template ngbPanelContent>
                <app-module-list-item [module]="module"></app-module-list-item>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>