<app-navbar></app-navbar>
<div class="container mt-5"> 
    <div class="card shadow col-6 offset-3">
        <div class="card-body">
            <h3 class="card-title">Create a New Curriculum</h3>
            <div class="mb-3">
                <label for="title" class="form-label">Curriculum Title</label>
                <input id="title" class="form-control" type="text" [(ngModel)]="newCurriculumTitle">
            </div>
            <div *ngIf="failed" class="error-message">
                Failed to create Curriculum!
            </div>
            <div *ngIf="success" class="success-message">
                You have successfully created a Curriculum! Redirecting...
            </div>
            <br>
            <div>
                <button id="submit" class="rev-btn-confirm mr-2" (click)="create()">Submit</button>
                <button class="rev-btn-confirm" routerLink="/dashboard">Back to Dashboard</button>
            </div>
        </div>
    </div>
</div>

