<app-navbar></app-navbar>
<div class="container mt-5">
    <!--Card containing user registration form-->
    <div id="register-container" class="card col-4 offset-4 mb-5 shadow">
        <div class="card-body px-3">
            <h2 id="register-header" class="card-title">Register</h2>
            <div class="mb-3">
                <label class="form-label">FIRST NAME:</label>
                <input class="form-control" [(ngModel)]="firstName" name="first-name" type="text"
                    placeholder="First Name" autofocus>
            </div>
            <div class="mb-3">
                <label class="form-label">LAST NAME:</label>
                <input class="form-control" [(ngModel)]="lastName" name="last-name" type="text" placeholder="Last Name"
                    autofocus>
            </div>
            <div class="mb-3">
                <label class="form-label">USERNAME:</label>
                <input class="form-control" [(ngModel)]="username" name="username" type="text" placeholder="Username"
                    autofocus>
            </div>
            <div class="mb-3">
                <label class="form-label">PASSWORD:</label>
                <input class="form-control" [(ngModel)]="password" name="password" type="password"
                    placeholder="Password">
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" [(ngModel)]="isTrainer" type="checkbox" value="true" id="is-trainer">
                <label class="form-check-label" for="is-trainer">
                    Register as Trainer
                </label>
            </div>
            <!--If failedRegister is true then display the following message-->
            <div *ngIf="failedRegister" class="error-message">
                Failed to register! Username already exists!
            </div>
            <!--If successful is true then display the following message-->
            <div *ngIf="successful" class="success-message">
                You have successfully registered in RevAssure! Redirecting...
            </div>
            <br>
            <div class="d-flex align-items-center">
                <!--The button will be grayed out if user left any of the fields empty-->
                <button class="rev-btn-confirm mr-3" (click)="registerNewUser()" type="button"
                    routerLink="/register" [disabled]="!firstName || !lastName || !username || !password">Register</button>
                <a id="login-link" routerLink="/login">
                    Back to Login</a>
            </div>
        </div>
    </div>
</div>