<app-navbar></app-navbar>
<div class="page-title">
    <div class="row col-10 offset-1">
        <div class="col-3 text-center">
            <h3>Dashboard</h3>
        </div>
        <div class="col-2 text-center m-auto">
            <h4 *ngIf="trainer; else elseBlock">Trainer</h4>
            <ng-template #elseBlock>
                <h5>Associate</h5>
            </ng-template>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div id="dashboard" class="card col-10 offset-1 mb-5 shadow">

        <div class="curriculumBoard">
            <button *ngIf="trainer" class="rev-btn-secondary" routerLink="/createCurriculum">New Curriculum</button>

            <ngb-accordion #acc="ngbAccordion" activeIds="">
                <ngb-panel id="panel" title="Curriculum" class="text-white text-center">
                    <ng-template ngbPanelContent>
                        <div>
                            <div class="col-10 offset-1" *ngFor="let item of curriculums">
                                <a routerLink="/curriculum/{{item.id}}">
                                    <h2 class="curriculum text-center">{{item.name}}</h2>
                                </a>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
            <!-- <div id="curriculum-button" class="board rev-btn-confirm text-white" (click)="showCurriculum()" -->
            <!-- type="button"> -->
            <!-- <button routerLink="/curriculum" class="rev-btn-confirm" type="button">Curriculum</button> -->
            <!-- Curriculum
            </div>
            <div>
                <div class="col-10 offset-1" *ngFor="let item of curriculums">
                    <a routerLink="/curriculum/{{item.id}}">
                        <h2 class="curriculum text-center">{{item.name}}</h2>
                    </a>
                </div>
            </div> -->
        </div>


        <div *ngIf="trainer" class="board rev-btn-confirm text-white mb-3" routerLink="/modules" type="button">
            <span class="translate-middle">Modules</span>
        </div>
        <div *ngIf="trainer" class="board rev-btn-confirm text-white mb-3" routerLink="/topics" type="button">
            <span class="translate-middle">Topics</span>
        </div>
    </div>
</div>