#dashboard {
    border: 1px solid  #F26925;
}

.board {
    padding: 20px;
    font-size: 36px;
    text-align: center;
    border-radius: 6px;
}

.curriculumBoard {
    margin-top: 30px;
    margin-bottom: 30px;
}

.curriculum {
    color: white;
    background-color: #474C55;
    padding: 20px;
    margin: 10px;
    border-radius: 4px;
}

.curriculum:hover {
    background-color: #393d44;
}

a {
    text-decoration: none;
}
