<app-navbar></app-navbar>
<div class="col-6 offset-3">



    <div class="curriculumBoard">
        <button class="rev-btn-secondary" routerLink="/createCurriculum">New Curriculum</button>

        <div class="board rev-btn-confirm text-white" routerLink="/curriculum" type="button">
            <!-- <button routerLink="/curriculum" class="rev-btn-confirm" type="button">Curriculum</button> -->
            Curriculum
        </div>
        <div *ngFor="let item of curriculums">
            <h2><a routerLink="/curriculum/{{item.id}}">{{item.name}}</a></h2>
        </div>
    </div>


    <div *ngIf="trainer" class="board rev-btn-confirm text-white" routerLink="/modules" type="button">
        <!-- <button routerLink="/modules" class="rev-btn-confirm">Modules</button> -->
        <span class="translate-middle">Modules</span>
    </div>

</div>