<nav id="navbar" class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand ml-3" href=""><img class="mr-3" src="..\..\..\assets\images\favicon.png"
        style="height: auto; width: 15%;">RevAssure</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="trainer">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
      </ul>
    </div>

    <div>
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-primary|secondary|success|danger|warning|info|light|dark" id="dropdownMenu1"
          ngbDropdownToggle>Hello {{username}}!</button>
        <!--TODO: Data bind to reflect user.firstName-->
        <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
          <button class="dropdown-item" routerLink="/login">Logout</button>
        </div>
      </div>
    </div>

  </div>
</nav>