<app-navbar></app-navbar>
<div class="page-title">
    <div class="row col-10 offset-1">
        <div class="col-3 offset-1 text-center">
            <h3>Curriculum-{{curriculumId}}</h3>
        </div>
    </div>
</div>
<div class="d-flex">

    <div class="col-8 offset-2 my-4">
        <full-calendar #calendar [options]="calendarOptions" class="bg-white p-4 shadow">
        </full-calendar>
    </div>

    <div *ngIf="currentView === 'dayGridDay'" class="card col-2 my-4 h-50">
        <div class="card-body">
            <h5 class="card-title">Add a topic to the current day</h5>
            <select [(ngModel)]="selectedTopic" name="topics" id="topics">
                <option *ngFor="let topic of topics" value="{{topic.id}}">
                    {{topic.title}}
                </option>
            </select>
            <button (click)="addTopicToDay()" class="rev-btn-confirm">Add Topic</button>
        </div>
    </div>
</div>