full-calendar {
    border: 1px solid  #F26925;
    font-family: "futura-heavy", Fallback, sans-serif;
}

::ng-deep .fc-daygrid-event-harness {
    width: 75%;
    margin-left: 12.5%;
}

::ng-deep .fc-event-title {
    font-size: 1rem;
    margin-left: 3%
}

#view-modal {
    width: 100vw;
}

.author {
    font-family: "futura-medium", Fallback, sans-serif;
}

#card-title {
    font-family: "futura-medium", Fallback, sans-serif;
}

option {
    font-family: "futura-medium", Fallback, sans-serif;
}

select {
    font-family: "futura-medium", Fallback, sans-serif;
}