@font-face {
    font-family: "futura-heavy";
    src: url("\src\assets\Futura-Std-Heavy.otf") format("opentype");
}
@font-face {
    font-family: "futura-bold";
    src: url("\src\assets\Futura-Std-Bold.otf") format("opentype");
}
@font-face {
    font-family: "futura-medium";
    src: url("\src\assets\Futura-Std-Medium.otf") format("opentype");
}
@font-face {
    font-family: "futura-book";
    src: url("\src\assets\Futura-Std-Book.otf") format("opentype");
}

:root {
    --fc-border-color: #474c55;
    --fc-daygrid-event-dot-width: 5px;
  }
  


h1 {
    font-family: "futura-bold", Fallback, sans-serif;
}

body{
    min-height: 100vh;
    background: radial-gradient( #FFFFFF, #B9B9BA);
}

app-root {
    min-height: 100vh;
}

button {
    padding: 5px 10px;
    color: white;
    border-radius: 2px;
    border: none;
}

.rev-btn-confirm {
    background-color: #F26925;
    box-sizing: border-box;
    border: 1px solid #F26925;
    transition: all .25s ease-in-out;
}

.rev-btn-confirm:hover {
    background-color: #c9571e;
}

/* .rev-btn-confirm:hover {
    background-color: white;
    color: #F26925;

} */

.rev-btn-secondary {
    background-color: #474C55;
    border: 1px solid #474C55;
    transition: all .25s ease-in-out;
}

.rev-btn-secondary:hover {
    background-color: #393d44;
}

/* .rev-btn-secondary:hover {
    background-color: white;
    color: #474C55;
} */